<div nz-row [nzGutter]="gutter" nzJustify="center" nzAlign="middle">
    <div nz-col nzSpan="6">
        <nz-collapse>
            <nz-collapse-panel
            *ngFor="let panel of panels"
            [nzHeader]="panel.name"
            [nzActive]="panel.active"
            >
                <p>{{ panel.description }}</p>
            </nz-collapse-panel>
        </nz-collapse>       
    </div>
    <div nz-col nzSpan="12">
        <h4>{{question.question}}</h4>
        <hr>
        <div *ngFor="let answer of question.answer">
            <div *ngIf="answer.ans">
                <h6>{{answer.ans}}</h6>
                <button nz-button nzType="primary" (click)="addvote(answer.vote)" [nzLoading]="isLoadingTwo">
                    <i nz-icon nzType="arrow-up"></i> UpVote {{answer.vote.length}}
                </button>
            </div>
            <hr>
          </div>
          <h6>Enter your answer</h6>
          <textarea rows="4" nz-input [(ngModel)]="inputValue"></textarea><br>
          <button nz-button nzType="primary" nzBlock (click)="go()" class="pb20">Add an answer</button>
    </div>
    <div nz-col nzSpan="4">
        <img src="./../../assets/images/angular.gif" />
    </div>  
  </div>