<h1>{{question}}</h1>
<hr>
<br>
<div *ngFor="let answer of data[0]">
    <h5>{{answer.ans}}</h5>
    <ul>
      <li *ngFor="let com of answer.comment">{{com.comnt}}</li>
    </ul>
    <button type="button" (click)="addvote(answer.vote)">UpVote {{answer.vote.length}}</button>
    <hr>
  </div>
  <hr>
  <p>Add an answer</p>
<form #f="ngForm" (ngSubmit)="go(f)">
  <textarea name='answer' rows="5" cols="30" [ngModel]="ans">Share your answer</textarea>
  <br>
  <button type="submit">submit</button>
</form>